<a href="https://colab.research.google.com/github/nanofaroque/deeplearning/blob/master/U3_M3_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Ignore or filter the warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
%matplotlib inline
%pylab inline
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [4]:
import pandas as pd
print(pd.__version__)

0.22.0

In [5]:
import numpy as np
print(np.__version__)

1.14.6

In [6]:
import seaborn as sns
print(sns.__version__)

0.7.1

## Loading and exploring our data set
This is a database of customers of an insurance company. Each data point is one customer. The group represents the number of accidents the customer has been involved in in the past

0 - red: many accidents
1 - green: few or no accidents
2 - yellow: in the middle

In [8]:
!curl -O https://raw.githubusercontent.com/DJCordhose/deep-learning-crash-course-notebooks/master/data/insurance-customers-1500.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 26783  100 26783    0     0   162k      0 --:--:-- --:--:-- --:--:--  162k

In [0]:
df = pd.read_csv('./insurance-customers-1500.csv', sep=';')

In [11]:
df.head()

   speed   age  miles  group
0   98.0  44.0   25.0      1
1  118.0  54.0   24.0      1
2  111.0  26.0   34.0      0
3   97.0  25.0   10.0      2
4  114.0  38.0   22.0      1